<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Template</title>
    <link rel="stylesheet" type="text/css" href="styles/mystyle.css">
    <script src="scripts/main.js" defer></script>
</head>

<body>
    <h1>Welcome on Board</h1>
    <div class="parent">
        <div class="div1"></div>
        <div class="Fuel">Fuel :
            <p id="result">0</p>L
        </div>
        <div class="Throttle">Throttle</div>
        <div class="Speed">Speed</div>
        <div class="Acceleration">Acceleration (G-force)</div>
        <div class="div2"> </div>
        <div class="Gravity">Gravity</div>
        <div class="Distance">Distance traveled</div>
        <div class="Atmosphere">Atmosphere</div>
        <div class="div3"> </div>
        <div class="Food">Food</div>
        <div class="Water">Water</div>
        <div class="div4"> </div>
        <div class="GConverter">Gravity converter<br><input type="text" id="inputWeight" placeholder="Enter your weight (kg)">
            <input type="button" id="checkNumber" value="Convert"></div>
        <div class="DConverter">Mars miles to earth miles converter
        </div>
    </div>
    <form>
        <label>Insert Amount of Fuel (L)</label>
        <input type="text" id="fuelAmount">
        <input type="button" id="add" value="Add Fuel ">
    </form>
</body>

</html>